@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: rgb(255, 255, 255);
}

html {
  scroll-behavior: smooth;
}

.navbar img {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

img {
  max-width: 100%;
  height: auto;
}

.bio {
  padding-top: 70px;
  background-color: white;
}

.bio h1 {
  color: #fe6e0c;
  padding-top: 20px;
}

.bio h1::after {
  content: "";
  background: #fe6e0c;
  display: block;
  height: 3px;
  width: 170px;
  margin: 20px auto 5px;
}

.bio p {
  margin: 20px 100px;
  text-align: justify;
  color: #fe6e0c;
}

#vlog p {
  // margin: 20px 300px;
  text-align: justify;
  color: #fe6e0c;
}

.iframe {
  margin: 20px;
}

// -------------------------------------------------------------------tech

#tech {
  padding-top: 50px;
  background-color: white;

}




#tech h1::after {
  content: "";
  background: #fe6e0c;
  display: block;
  height: 3px;
  width: 170px;
  margin: 20px auto 5px;
}

.fa-html5:before {
  color: red;
  font-size: 80px;

}

.fa-js:before {
  font-size: 80px;
  color: rgb(255, 208, 0);
}

.fa-css3-alt:before {
  font-size: 80px;
  color: lightblue;
}

.fa-react:before {
  font-size: 80px;
  color: lightblue;
}

.fa-github-alt {
  color: rgb(163, 105, 163);
  font-size: 80px;
}

.fa-bootstrap {
  color: purple;
  font-size: 80px;
}

.fa-git-square {
  color: green;
  font-size: 80px;
}

.fa-adobe {
  font-size: 80px;
  color: red;
}

.fa-photo-video {
  font-size: 80px;
  color: rgb(199, 199, 29);
}

.title h1 {
  color: #fe6e0c;
  margin-top: 40px;

}

.tech p {
  color: #fe6e0c;
}

//------------------------------------------------------------------------ video

#vlog h1::after {
  content: "";
  background: #fe6e0c;
  display: block;
  height: 3px;
  width: 170px;
  margin: 20px auto 5px;
}

#vlog {
  background-color: white;
  /* background-image: linear-gradient(#f7faf8, #585c59); */
  margin-top: 30px;
  color: #fe6e0c;
  background-image: url(/src/img/floating.png);
  height: 40%;
  background-size: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 20px;
  margin-bottom: 80px;
  color: #fe6e0c;
  text-align: center;
  padding-top: 40px;
  padding: 80px;
}

#vlog p {
  text-align: center;
}

iframe {
  margin-bottom: 80px;

  #port {
    margin: 400px;
  }
}


#projects {
  margin: 100px;
  color: #fe6e0c;
  background-color: white;
}

#projects h1 {
  margin-top: 100px;

}

#projects h1::after {
  content: "";
  background: #fe6e0c;
  display: block;
  height: 3px;
  width: 170px;
  margin: 20px auto 5px;
}

#projects p {
  margin-bottom: 60px;
}

#contact {
  background-color: rgb(235, 231, 231);
  padding-top: 100px;
}



#contact h1 {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  font-weight: bold;
  color: #ff9800;
  padding-bottom: 10px;
  padding-top: 10px;
  text-transform: uppercase;
  /* margin-bottom: 40px; */
}

#contact h3 {
  font-size: 18px;
  font-weight: 600;
  // text-align: center !important;
  font-weight: bold;
  color: #ff9800;
  padding-bottom: 10px;
  padding-top: 10px;
  text-transform: uppercase;
  /* margin-bottom: 40px; */
}

#contact h1::after {
  content: "";
  background: #ff9800;
  display: block;
  height: 3px;
  width: 170px;
  margin: 20px auto 5px;
}


#social-media {
  background-color: #f8f9fa;
  padding: 90px;
  color: #ff9800;
}

#social-media p {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  font-weight: bold;
  color: #ff9800;
  padding-bottom: 10px;
  text-transform: uppercase;
  /* margin-bottom: 40px; */
}


#social-media p::after {
  content: "";
  background: #ff9800;
  display: block;
  height: 3px;
  width: 170px;
  margin: 20px auto 5px;
}

.social-icons img {
  display: inline-block;
  width: 60px;
  /* padding-left: 5px; */
  transition: 0.5s;
}

.social-icons a:hover img {
  transform: translatey(-80px);
}

.btn {
  align-self: auto;
}

.state {
  margin-top: 0;
}

.copywrite {
  color: #ff9800;
}

footer img {
  margin-left: 42%;
}


// ----------------------------Nav Hover
TML SCSS JSResult .hoverable {
  display: inline-block;
  backface-visibility: hidden;
  vertical-align: middle;
  position: relative;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  tranform: translateZ(0);
  transition-duration: .3s;
  transition-property: transform;
}

.hoverable:before {
  position: absolute;
  pointer-events: none;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
  /* W3C */
  transition-duration: 0.3s;
  transition-property: transform, opacity;
}

.hoverable:hover,
.hoverable:active,
.hoverable:focus {
  transform: translateY(-5px);
}

.hoverable:hover:before,
.hoverable:active:before,
.hoverable:focus:before {
  opacity: 1;
  transform: translateY(-5px);
}



@keyframes bounce-animation {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.bounce {
  animation-name: bounce-animation;
  animation-duration: 2s;
}



/*everything below here is just setting up the page, so dont worry about it */


@media (min-width: 768px) {
  .navbar {
    text-align: center !important;
    float: none;
    display: inline-block;
  }
}

body {
  font-weight: 600;
  text-align: center !important;

}

nav {
  background: none !important;
  text-transform: uppercase;

  li {
    margin-left: 3em;
    margin-right: 3em;

    a {
      transition: .5s color ease-in-out;
    }
  }
}

.page-title {
  opacity: .75 !important;
}

//--------------------------------------------------------- footer
#socialMedia a.text-light:hover {
  color: #fed136 !important;
  text-decoration: none;
}

#socialMedia .cizgi {
  border-right: 1px solid #535e67;
}

@media (max-width: 992px) {
  footer .cizgi {
    border-right: none;
  }
}